<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="campground-image">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= campground.location %>   
                        </h6>
                    </li>
                    <li class="list-group-item"><%= campground.description %></li>
                    <li class="list-group-item">Price per night: $<%= campground.price%></li>
                    <li class="list-group-item">
                        <div>
                            <a class="btn btn-secondary" href="/campgrounds/<%= campground._id%>/edit">Edit Campground</a>
                            <button type="submit" class="btn btn-danger">Delete Campground</button>
                        </div>
                        <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST"> </form>
                    </li>           
                </ul>
                <div class="text-muted text-center">
                    <a href="/campgrounds">Return To All Campgrounds</a>
                </div>
            </div>
        </div>
    </div>
</div>
